.name {
    display: flex;
    justify-content: center;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #f3f3f3 ;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: skyblue;
    color: white;
  }
  
  footer {
    background-color: #f3f3f3 ;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    /* top: 0; */
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #666;
  }

  /* #footer {
    display: flex;
    justify-content: flex-start;
  }

  #copyright {
    display: flex;
    justify-content: flex-end;
  } */